{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "google", "prettier"],
  "rules": {
    "prefer-arrow-callback": "error",
    "require-jsdoc": "off"
  }
}
