name: Lint

on:
  push:
    branches: [source]
  pull_request:
    branches: [source]
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: yarn
      - run: yarn install
      - run: yarn run lint
